html {
    height: 100%;
}

body {
    background: #fbfaf9;
    height: 100vh;
    position: relative;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    max-width: 1280px;
}

.flexContainer,
.mainQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-align: center;
    overflow: hidden;
    border-right: 5px solid black;
    white-space: nowrap;
    margin: 60px auto 20px auto;
}

form {
    width: 35%;
}

.displayNoneCA,
.displayNoneUS {
    display: none;
}

.displayCA,
.displayUS {
    display: inline-block;
}

.selectCountry,
.selectCAState,
.selectUSState {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 5px 0;
}

.submit {
    margin-top: 20px;
    padding: 15px 35px 10px 35px;
    border: solid black 2px;
    border-radius: 25px;
    color: #fbfaf9;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: black;
    text-transform: uppercase;
    transition: ease 0.3s;
}

.submit:hover {
    background-color: #fbfaf9;
    color: black;
}

.outputContainer {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}

.imageContainer {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: flex-end;
    margin: 0;
    padding: 0;
        .img1 {
        height: 140px;
        margin-right: -15px;
        }
        .img2 {
            height: 220px;
        }
        .img3 {
            height: 160px;
            margin-right: -6px;
        }
        .img4 {
            height: 140px;
            margin-right: -14px;
        }
        .img5 {
            height: 180px;
            margin-right: -8px;
        }
        .img6 {
            height: 120px;
        }
}

// MEDIA QUERIES

@media (max-width: 950px) {
    .img1 {
        margin-right: -8px;
    }
    .img2 {
        display: none;
    }
}

@media (max-width: 780px) {
    h1 {
        font-size: 50px;
    }
    .img3 {
        display: none;
    }
}

@media (max-width: 650px) {
    h1 {
        white-space: normal;
        border-right: none;
        overflow: initial;
    }
}

@media (max-width: 570px) {
    .outputContainer {
        font-size: 18px
    }
    .imageContainer {
        .img1 {
            margin-right: -6px;
        }
        .img4 {
            margin-right: 0;
        }
        .img5 {
            display: none;
        }
    }
}

@media (max-width: 530px) {
    h1 {
        font-size: 40px;
    }
}

@media (max-width: 415px) {
    h1 {
        font-size: 32px;
    }
    .imageContainer {
        .img1, .img6 {
            height: 100px;
        }
        .img4 {
            height: 90px;
        }
    }
}

