article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  height: 100%; }

body {
  background: #fbfaf9;
  height: 100vh;
  position: relative; }

.wrapper {
  width: 75%;
  margin: 0 auto;
  max-width: 1280px; }

.flexContainer,
.mainQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  text-align: center;
  overflow: hidden;
  border-right: 5px solid black;
  white-space: nowrap;
  margin: 60px auto 20px auto; }

form {
  width: 35%; }

.displayNoneCA,
.displayNoneUS {
  display: none; }

.displayCA,
.displayUS {
  display: inline-block; }

.selectCountry,
.selectCAState,
.selectUSState {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin: 5px 0; }

.submit {
  margin-top: 20px;
  padding: 15px 35px 10px 35px;
  border: solid black 2px;
  border-radius: 25px;
  color: #fbfaf9;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: black;
  text-transform: uppercase;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.submit:hover {
  background-color: #fbfaf9;
  color: black; }

.outputContainer {
  margin-top: 10px;
  text-align: center;
  font-size: 24px; }

.imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0;
  padding: 0; }
  .imageContainer .img1 {
    height: 140px;
    margin-right: -15px; }
  .imageContainer .img2 {
    height: 220px; }
  .imageContainer .img3 {
    height: 160px;
    margin-right: -6px; }
  .imageContainer .img4 {
    height: 140px;
    margin-right: -14px; }
  .imageContainer .img5 {
    height: 180px;
    margin-right: -8px; }
  .imageContainer .img6 {
    height: 120px; }

@media (max-width: 950px) {
  .img1 {
    margin-right: -8px; }
  .img2 {
    display: none; } }

@media (max-width: 780px) {
  h1 {
    font-size: 50px; }
  .img3 {
    display: none; } }

@media (max-width: 650px) {
  h1 {
    white-space: normal;
    border-right: none;
    overflow: initial; } }

@media (max-width: 570px) {
  .outputContainer {
    font-size: 18px; }
  .imageContainer .img1 {
    margin-right: -6px; }
  .imageContainer .img4 {
    margin-right: 0; }
  .imageContainer .img5 {
    display: none; } }

@media (max-width: 530px) {
  h1 {
    font-size: 40px; } }

@media (max-width: 415px) {
  h1 {
    font-size: 32px; }
  .imageContainer .img1, .imageContainer .img6 {
    height: 100px; }
  .imageContainer .img4 {
    height: 90px; } }

@media (max-height: 700px) {
  .imageContainer .img1 {
    height: 120px;
    margin-right: -15px; }
  .imageContainer .img2 {
    height: 170px; }
  .imageContainer .img3 {
    height: 130px;
    margin-right: -6px; }
  .imageContainer .img4 {
    height: 120px;
    margin-right: -14px; }
  .imageContainer .img5 {
    height: 150px;
    margin-right: -8px; }
  .imageContainer .img6 {
    height: 100px; } }

@media (max-height: 640px) {
  .imageContainer .img1 {
    height: 100px;
    margin-right: -15px; }
  .imageContainer .img2 {
    height: 140px; }
  .imageContainer .img3 {
    height: 90px;
    margin-right: -6px; }
  .imageContainer .img4 {
    height: 90px;
    margin-right: -14px; }
  .imageContainer .img5 {
    height: 120px;
    margin-right: -8px; }
  .imageContainer .img6 {
    height: 80px; } }

@media (max-height: 580px) {
  .imageContainer .img1,
  .imageContainer .img2,
  .imageContainer .img3,
  .imageContainer .img4,
  .imageContainer .img5,
  .imageContainer .img6 {
    display: none; } }

.customDropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; }

.customDropdown select {
  background-color: transparent;
  color: black;
  font-size: inherit;
  font-family: 'Open Sans', sans-serif;
  height: 45px;
  width: 250px;
  border: 2px solid black;
  margin: 0;
  border-radius: 5px;
  -o-text-overflow: '';
  text-overflow: '';
  -webkit-appearance: button;
  /* hides default arrow in chrome OSX */ }

.customDropdown::before,
.customDropdown::after {
  content: "";
  position: absolute;
  pointer-events: none; }

.customDropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em; }

.customDropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0; }

.customDropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3); }

.customDropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1); }

.customDropdown::before {
  background-color: rgba(0, 0, 0, 0.15); }

.customDropdown::after {
  color: rgba(0, 0, 0, 0.4); }

@media (min-width: 650px) {
  .typewriterAnim {
    -webkit-animation: typing 2s steps(15, end), blink-caret 500ms step-end infinite;
    animation: typing 2s steps(15, end), blink-caret 500ms step-end infinite; }
  @-webkit-keyframes typing {
    from {
      width: 0; }
    to {
      width: 100%; } }
  @keyframes typing {
    from {
      width: 0; }
    to {
      width: 100%; } }
  @-webkit-keyframes blink-caret {
    from {
      border-right-color: black; }
    to {
      border-right-color: transparent; } }
  @keyframes blink-caret {
    from {
      border-right-color: black; }
    to {
      border-right-color: transparent; } } }
